body {
      background-color: #f1f1f1;
      margin: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #ccc2c2;
    }
    .container { margin: 50px auto 40px auto; width: 600px; text-align: center; }
    a { color: #4183c4; text-decoration: none; }
    a:hover { text-decoration: underline; }
    h1 { font-size: 60px; font-weight: 100; margin: 0px 0 50px 0; text-shadow: 0 1px 0 #fff; }
    p { color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6; }
    ul { list-style: none; margin: 25px 0; padding: 0; }
    li { display: table-cell; font-weight: bold; width: 1%; }
    #suggestions {
      margin-top: 35px;
      color: #ccc;
    }
    #suggestions a {
      color: #666666;
      font-weight: 200;
      font-size: 14px;
      margin: 0 10px;
    }
/* CREATED BY MAGNO REIS AS ALIPSEIGHT FOR RAINCORN/AVORENT */
.center {
 text-align: center;
}
