<footer class="bs-docs-footer">
  <div class="arrow-top"><a href="#top"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
  <div class="container">

    <ul class="bs-docs-footer-links">
      <li><a href="{{ site.github_repository }}"><i class="fa fa-github"></i> GitHub</a></li>
      <li><a href="{{site.baseurl}}/about/join"><i class="fa fa-sign-in"></i> Junte-se</a></li>
      <li><a href="{{site.baseurl}}/about/contribute"><i class="fa fa-smile-o"></i> Contribua</a></li>
      <li><a href="{{site.baseurl}}/about/"><i class="fa fa-building-o"></i> Sobre</a></li>
    </ul>

    <p>Projetado e <i class="fa fa-code"></i> com todo <i class="fa fa-heart"></i> no <i class="fa fa-globe"></i> e <a href="https://github.com/twbs/bootstrap">Bootstrap</a> por <a href="https://mozillians.org/u/alipseight" target="_blank">Magno Reis</a>. Mantido pelo <a href="{{site.org_url}}about/team/core">time núcleo</a> com ajuda de <a href="{{git_contributor}}">nossos contribuidores</a>.</p>

    <p>Code licensed <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>

  </div>
</footer>
