<head>
  <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title}} &middot; {{site.title}}{% else %} {{site.title}}{% endif %} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{site.css_url}}bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.css_url}}docs.css">
    <link rel="stylesheet" type="text/css" href="{{site.css_url}}avorent.css">
    <link rel="stylesheet" type="text/css" href="{{site.css_url}}normalize.css">
 <link rel="stylesheet" type="text/css" href="{{site.css_url}}docs.min.css.map">
 <link rel="stylesheet" type="text/css" href="{{site.css_url}}font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="{{site.css_url}}normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{site.domain}}assets/js/jquery.min.js"><\/script>')</script>
 <script src="{{site.domain}}/assets/js/bootstrap.js"></script>

</head>
