<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="https://mozillians.org/media/uploads/sorl-cache/83/4a/834acc3be1edcb183a02e011646ba2c3.jpg" alt="Magno Reis" width="140" height="140">
    <h3>Magno Reis</h3>
    <p>Criador e desenvolvedor do AlunosMaio</p>
    <p><a class="btn btn-default disabled" href="#" role="button">Ver detalhes &raquo;</a></p>
  </div> <!-- ./col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="https://instagram.fsdu2-2.fna.fbcdn.net/t51.2885-19/10747830_1511538169103164_842249055_a.jpg" alt="Ana Clara" width="140" height="140">
    <h3>Ana Clara</h3>
    <p>Moderadora do AlunosMaio e Promotora do CAMPUNO</p>
    <p><a class="btn btn-default disabled" href="#" role="button">Ver detalhes &raquo;</a></p>
  </div> <!-- ./col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="http://i.imgur.com/3nJowOel.png" alt="Ana Caroline" width="140" height="140">
    <h3>Ana Caroline</h3>
    <p>Promotora do CAMPUNO</p>
    <p><a class="btn btn-default disabled" href="#" role="button">Ver detalhes &raquo;</a></p>
  </div> <!-- ./col-lg-4 -->
</div> <!-- ./row -->
