{% include head.html %}

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-uppercase" href="#">{{site.title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{site.domain}}">{{site.title}}</a></li>
            <li><a href="{{site.domain}}/about/">Sobre</a></li>
            <li><a href="{{site.domain}}/about/contribute">Contribuir</a></li>
            <li><a href="{{site.domain}}/campuno/">CAMPUNO</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.org_url}}">{{site.org_title}}</a></li>
        </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
<section class="main-content">

  {{content}}

</section>
      <hr>

{% include footer.html %}
